<div class="row">
<div class="col-sm-12 text-center">
<h1>Create new Quote</h1>

<%= form_with scope: :quote, url: quote_index_path, local: true do |form| %>
    <% if @quote.errors.any? %>
    <div id="error_box">
      <h2>
        <%= pluralize(@quote.errors.count, "error") %> 
      </h2>
      
        <% @quote.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>
   
    <p>
        <%= form.label :author %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :text %><br>
        <%= form.text_area :text %>
    </p>

    <p>
    <%= link_to 'Cancel', quote_index_path, { :class=>"btn btn-danger" } %>  <%= form.submit 'Add', :class => 'btn btn-success' %>
    </p>
    <% end %>
</div>
</div>